
@font-face {
    font-family: 'Pizza-Tower';
    src: url('../fonts/PizzaTower.eot');
    src: url('../fonts/PizzaTower.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PizzaTower.woff') format('woff'),
         url('../fonts/PizzaTower.ttf') format('truetype'),
}

body {
    background-color: #614261;
}

.text-wrapper {
   color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #967BB6;
    padding: 5px 20px;
    max-width: 600px;
    margin:auto;
}

.text-wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-wrapper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    background-color:#614261;
    border-radius: 25px;
    padding: 10px;
}

h1 {
    font-family: 'Pizza-Tower';
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: #967BB6;
    padding: 25px;
}

h3 {
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 300px;
}

.wrap-sub-ingredients {
    display: flex;
    flex-direction: row;
}

.sub-ingredients {
    display: table;
    margin: 0 auto;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
