* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
     }

body {
    background-color: #786178;
}

.text-wrapper {
    background-color: #967BB6;
    padding: 5px 20px;
    max-width: 600px;
    margin:auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: #614261;
    padding: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 300px;
}

.wrap-sub-ingredients {
    display: flex;
    flex-direction: row;
}

.sub-ingredients {
    display: table;
    margin: 0 auto;
}
