* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
     }

body {
    background-color: #d1aa70;
}

.text-wrapper {
    background-color: #a0722c;
    padding: 5px 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: #a51c12;
    padding: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 500px;
}

.wrap-sub-ingredients {
    display: flex;
    flex-direction: row;
}

.sub-ingredients {
    display: table;
    margin: 0 auto;
}
