h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}


body {
    text-align: center;
    background-color: #786178;
}

h1 {
    background-color: #614261;
    color: white;
    padding: 15px;
    margin-bottom: 0;
    font-size: 50px;
}

.emblem {
    height:400px;
    width: auto;
    padding:20px;
    border-color: white; 
}

.recipes {
    display: flex;
    gap: 15px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 250px;
    background-color: #967BB6;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica,sans-serif;
    text-align: center;
    text-decoration: none;

}

