
@font-face {
    font-family: 'Pizza-Tower';
    src: url('fonts/PizzaTower.eot');
    src: url('fonts/PizzaTower.eot?#iefix') format('embedded-opentype'),
         url('fonts/PizzaTower.woff') format('woff'),
         url('fonts/PizzaTower.ttf') format('truetype'),
}

h1 {
    font-family:'Pizza-Tower';
    font-size: 35px;
}



body {
    text-align: center;
    background-color: #614261;
}

h1{
    background-color: #967BB6;
    color: white;
    padding: 15px;
    margin-bottom: 0;
    font-size: 50px;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:visited {
    color: white;
}

h1 a:hover {
    color:#D1D1D1;
}



.emblem {
    height:400px;
    width: auto;
    padding:20px;
    border-color: white; 
}

.recipes {
    display: flex;
    gap: 15px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 250px;
    background-color: #967BB6;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica,sans-serif;
    text-align: center;
    text-decoration: none;

}

