@font-face {
    font-family: 'Pizza Tower';
    src: url('odin-recipes/fonts/PizzaTower.eot');
    src: url('odin-recipes/fonts/PizzaTower.eot?#iefix') format('embedded-opentype'),
        url('odin-recipes/fonts/PizzaTower.woff') format('woff'),
        url('odin-recipes/fonts/PizzaTower.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

